POSTGRES_DB="ms-auth"
POSTGRES_USER="ms-auth-user"
POSTGRES_PASSWORD="ms-auth-password"
POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_POOL_RECYCLE=60
POSTGRES_POOL_SIZE=10
POSTGRES_ECHO=True

REDIS_HOST=localhost
REDIS_PORT=6380
REDIS_DB=0

API_JWT_SECRET_KEY="my_super_secret_key"
API_ACCESS_TOKEN_LIFETIME_SEC=900
API_REFRESH_TOKEN_LIFETIME_SEC=7200